<div class="container">
	<div class="row">
		<div class="text-center">
			<h2>お気に入り一覧</h2>
		</div>
	</div>

	<div class="row">
		<% @favorites.each do |f| %>
		<div class="product-thumb">
			<%= link_to product_path(f.product.id) do %>
			<div class="text-center">
				<label><%= attachment_image_tag f.product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %></label><br>
				<label></label>
				<label class="text-center"><%= f.product.product_name %></label><br>

				<!-- レビュー件数 -->
				<span><i class="far fa-file-alt"></i> <%= f.product.reviews.count %></span>

				<!-- いいね件数 -->
				<span>
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= f.product.favorites.count %>
				</span>

			</div>
			<% end %>
		</div>
		<% end %>
	</div>
	<div class="paginate">
		<%= paginate @favorites %>
	</div>
</div>
