<div class="container top-space">
	<div class="row">
		<div class="text-center">
			<h2><%= link_to "#{@user.name}", user_path(@user.id) %> さんのお気に入り一覧</h2>
		</div>
	</div>

	<div class="row">
		<% @favorites.each do |f| %>
		<div class="product-thumb">
			<%= link_to product_path(f.product.id) do %>
			<div class="text-center">
				<label><%= attachment_image_tag f.product, :product_image, format: 'jpeg', fallback: "no_image_product.png", size: "150x150", class: "favorite-image" %></label><br>
				<label></label>
				<label class="text-center"><%= f.product.product_name.truncate(15) %></label><br>
			</div>
			<% end %>
			<!-- いいね件数 -->
			<div id="favorites_buttons_<%= f.product.id %>">
				<%= render partial: 'products/favorite', locals: { product: f.product, favorites: @favorites} %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="paginate">
		<%= paginate @favorites %>
	</div>
</div>
