<div class="container top-space">
	<div class="row">
		<div class="col-xs-6">

			<div  class=" edit-user">
				<%= form_for @user do |user| %>
				<% if @user.errors.any? %>
					<div class="alert alert-danger" role="alert">
						<strong>入力内容にエラーがあります</strong>
						 <ul>
						<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
						</ul>
					</div>
					<% end %>

				<div class="form-group">
					<%= user.label :profile_image %>
					<%= user.attachment_field :profile_image %>
				</div>
				<div class="form-group">
					<%= user.label :name %>
					<%= user.text_field :name, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= user.label :email %>
					<%= user.email_field :email, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= user.label :introduction %>
					<%= user.text_area :introduction, size:"50x10",class: "form-control" %>
				</div>
			</div>

			<div class="user-edit-btn">
				<%= link_to "戻る", user_path(@user.id), class: "btn btn-default" %>
				<button type="submit" class="btn btn-info">
					<i class="fas fa-check"></i> 保存
				</button>
			</div>
			<% end %>
		</div>

		<div class="col-xs-6 user-delete-btn">
			<%= link_to "退会", user_registration_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
		</div>
	</div>
</div>
