<div class="container">
	<div class="row">
		<div class="col-xs-4">

			<table  class="table user-info">
				<tr align="center">
					<td colspan="2"><%= attachment_image_tag @user, :profile_image, format: 'jpg', fallback: "no_image.jpg", size: "150x150" %></td>
				</tr>
				<tr>
					<td colspan="2" class="user-favorite-counter">
						<% if @user.favorites.empty? %>
						<i class="far fa-heart" aria-hidden="true"></i>
						まだお気に入りはありません<br>
						ハートをクリックするとここに表示されます
						<% else %>
						<%= link_to user_favorites_path(@user.id) do %>
						<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						<%= @user.favorites.count %>  件のお気に入り
						<% end %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>ユーザ名</td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td>email</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td>自己紹介</td>
					<td><%= @user.introduction %></td>
				</tr>
			</table>
			<div class="user-edit-buttom">
				<%= link_to edit_user_path(@user.id), class: "btn btn-success" do %>
				<i class="fas fa-user-cog"></i> 編集<% end %>
			</div>
		</div>

		<div class="col-xs-7 col-xs-offset-1">

			<div class="row">
				<% if @reviews.empty? %>
				<div class="user-noreview">
					<h3>レビューはまだありません</h3>
					<p>レビューを投稿するとここに表示されます</p>
				</div>
				<% else %>
				<h3 class="review-counter">レビュー全 <%= @reviews.total_count %> 件</h3><br>
				<% @reviews.each do |review| %>

				<div class="col-xs-12 user-review-box">

					<!-- Newアイコン -->
					<% if review.is_new %>
					<p  class="new-review"><%= image_tag 'newlogo.gif', :size =>'40x15' %></p>
					<% elsif review.is_both %>
					<p  class="new-review"><%= image_tag 'newlogo.gif', :size =>'40x15' %></p>
					<p  class="update-review"><%= image_tag 'updatelogo.gif', :size =>'60x15' %></p>
					<% elsif review.is_update %>
					<p  class="update-review"><%= image_tag 'updatelogo.gif', :size =>'60x15' %></p>
					<% end %>

					<%= link_to product_path(review.product.id) do %>
					<%= attachment_image_tag review.product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "75x75" %>
					<%= review.product.product_name %>
					<% end %><br>

					<div class="rated" data-score="<%= review.review_star %>"></div>
					<div class="user-buttom">
						<%= link_to edit_user_review_path(@user.id,review), class: "btn btn-success" do %>
						<i class="fas fa-cog"></i> 編集<% end %>
						<%= link_to user_review_path(@user.id,review), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" do %>
						<i class="fas fa-trash-alt"></i> 削除<% end %>
					</div>
					<div class="user-date">
						<% if review.created_at == review.updated_at %>
						<label>投稿日：</label><%= review.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% else %>
						<label>更新日：</label><%= review.updated_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<label>投稿日：</label><%= review.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% end %>
					</div>
					<pre><%= review.opinion %></pre><br>
				</div>
				<% end %>
				<% end %>
				<div class="paginate">
					<%= paginate @reviews %>
				</div>
			</div>
		</div>
	</div>
	<div class="user-index-buttom">
		<%= link_to "一覧へ戻る", products_path, class: "btn btn-default" %>
	</div>
</div>

<script>
	$('.rated').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
