<div class="container">
	<div class="row">
		<div class="col-xs-4">

			<table  class="table">
				<tr align="center">
					<td colspan="2"><%= attachment_image_tag @user, :profile_image, format: 'jpg', fallback: "no_image.jpg", size: "150x150" %></td>
				</tr>
				<tr>
					<td>ユーザ名</td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td>email</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td>自己紹介</td>
					<td><%= @user.introduction %></td>
				</tr>
			</table>
			<%= link_to "編集", edit_user_path(@user.id), class: "btn btn-success" %>
		</div>

		<div class="col-xs-7 col-xs-offset-1">

			<div class="row">
				<h3>レビュー <%= @reviews.total_count %> 件</h3>
				<% @reviews.each do |reviews| %>

				<div class="col-xs-12">
					<%= link_to product_path(reviews.product.id) do %>
					<%= attachment_image_tag reviews.product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "75x75" %>
					<%= reviews.product.product_name %>
					<% end %><br>

					<div class="rated" data-score="<%= reviews.review_star %>"></div>
					<div style="text-align: right;">
						<% if reviews.created_at == reviews.updated_at %>
						投稿日：<%= reviews.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% else %>
						更新日：<%= reviews.updated_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% end %>
						<%= link_to "編集", edit_user_review_path(@user.id,reviews), class: "btn btn-success" %>
						<%= link_to "削除", user_review_path(@user.id,reviews), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
					</div>
					<pre><%= reviews.opinion %></pre><br>
				</div>
				<% end %>
				<div class="paginate">
					<%= paginate @reviews %>
				</div>

			</div>

		</div>

	</div>
	<%= link_to "一覧へ戻る", products_path, class: "btn btn-default" %>
</div>

<script>
	$('.rated').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
