<div class="container">
	<div class="row">
		<div class="col-xs-4">

			<table  class="table">
				<tr align="center">
					<td colspan="2"><%= attachment_image_tag @user, :profile_image, format: 'jpg', fallback: "no_image.jpg", size: "150x150" %></td>
				</tr>
				<tr>
					<td>ユーザ名</td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td>email</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td>自己紹介</td>
					<td><%= @user.introduction %></td>
				</tr>
			</table>
			<%= link_to "編集", edit_user_path(@user.id), class: "btn btn-success" %>
		</div>
	</div>
</div>
