<div class="container top-space">
	<div class="row">

		<div class="col-xs-10 col-xs-offset-1 info-show">
			<div class="information-title">
				<%= @information.information_title %>
			</div>
			<div class="information-date">
				<% if @information.created_at == @information.updated_at %>
				掲載日：<%= @information.created_at.strftime('%Y-%m-%d %H:%M') %>
				<% else %>
				更新日：<%= @information.updated_at.strftime('%Y-%m-%d %H:%M') %>
				掲載日：<%= @information.created_at.strftime('%Y-%m-%d %H:%M') %>
				<% end %>
			</div>

			<!-- information画像 -->
			<% if @information.information_images.present? %>
			<% @information.information_images.each do |image| %>
			<%= link_to(image_tag(attachment_url(image, :information_image, :fill, 200, 200, format: 'jpg')), attachment_url(image, :information_image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "information-set" }) %>
			<% end %>
			<% else %>
			<%= image_tag '/images/no_image_product.png', size: '200x200' %>
			<% end %>

			<!-- information本文 -->
			<div class="information-content">
				<%= @information.information_content %>
			</div>
		</div>
	</div>
	<div class="info-index-button">
		<%= link_to "一覧に戻る", informations_path, class: "btn btn-default" %>
	</div>
</div>