<div class="container index-container">
	<div class="row">
		<div class="text-center">
			<h1 class="top-headline1">ようこそ</h1>
			<%= link_to image_tag("sitelogo.png", alt: "サイトロゴ"), root_path %>
			<h1 class="top-headline2">へ！！</h1>
			<h2 class="top-headline3">一杯目から飲みたくなるレモンサワーを紹介中</h2>
			<div class="reviews-counter-box">
				<p class="reviews-counter1">レビュー総数</p>
				<p class="reviews-counter2"><%= @reviews.count %></p>
				<p class="reviews-counter3">件</p>
			</div>
		</div>

		<!-- 管理者ボタン -->
		<% if current_user.try(:admin?) %>
		<div class="admin-btn col-xs-6 col-xs-offset-3">
			<%= link_to "管理画面はこちら", "/admin", class: "btn btn-warning btn-block" %>
		</div>
		<% end %>
	</div>

	<!-- ソート機能 -->
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			商品名
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "昇順", sort: "product_name" %></li>
			<li role="presentation"><%= link_to "降順", sort: "product_name desc" %></li>
		</ul>
	</div>
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			評価
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "高い順", sort: "average_star desc" %></li>
			<li role="presentation"><%= link_to "低い順", sort: "average_star" %></li>
		</ul>
	</div>
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			レビュー数
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "多い順", sort: "count(reviews.id) DESC" %></li>
			<li role="presentation"><%= link_to "少ない順", sort: "count(reviews.id)" %></li>
		</ul>
	</div>
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			お気に入り数
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "多い順", sort: "count(favorites.id) DESC" %></li>
			<li role="presentation"><%= link_to "少ない順", sort: "count(favorites.id)" %></li>
		</ul>
	</div>

	<!-- 商品一覧 -->
	<div class="row">
		<% @products.each do |p| %>
		<div class="product-thumb">
			<%= link_to product_path(p.id) do %>
			<div class="text-center">
				<label><%= attachment_image_tag p, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %></label><br>
				<label></label>
				<label class="text-center"><%= p.product_name %></label><br>

				<!-- レビュー平均値 -->
				<div class="rated index-ave" data-score="<%= p.average_star %>"></div>


				<% if user_signed_in? %>
				<!-- レビュー -->
				<span>
					<% if p.reviewed_by?(current_user) %>
					<i class="fas fa-file-alt" style="color: orange;"></i>
					<%= p.reviews.count %>
					<% else %>
					<i class="far fa-file-alt"></i>
					<%= p.reviews.count %>
					<% end %>
				</span>

				<!-- いいね -->
				<span>
					<% if p.favorited_by?(current_user) %>
					<%#= link_to product_favorite_path(p,p.favorites), method: :delete do %>
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= p.favorites.count %>
					<%# end %>
					<% else %>
					<%#= link_to product_favorites_path(p), method: :post do %>
					<i class="far fa-heart" aria-hidden="true"></i>
					<%= p.favorites.count %>
					<%# end %>
					<% end %>

					<% end %>
				</span>

			</div>
			<% end %>
		</div>
		<% end %>
	</div>
	<div class="paginate">
		<%= paginate @products%>
	</div>
</div>

<script>
	$('.rated').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
