<div class="container top-space">
	<div class="row">
		<div class="text-center">
			<!-- <h1 class="top-headline1">ようこそ</h1> -->
			<div class="index-site-logo">
				<%= link_to image_tag("sitelogo.png", alt: "サイトロゴ"), root_path %>
			</div>
			<!-- <h1 class="top-headline2">へ！！</h1> -->
			<h2 class="top-headline3">一杯目から飲みたくなるレモンサワーを紹介中</h2>
			<div class="reviews-counter-box">
				<p class="reviews-counter1">レビュー総数</p>
				<p class="reviews-counter2"><%= @reviews.count %></p>
				<p class="reviews-counter3">件</p>
			</div>
		</div>

		<!-- 管理者ボタン -->
		<% if current_user.try(:admin?) %>
		<div class="admin-btn col-xs-6 col-xs-offset-3">
			<%= link_to "管理画面はこちら", "/admin", class: "btn btn-warning btn-block" %>
		</div>
		<% end %>
	</div>

	<!-- ソート機能 -->
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			商品名
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "昇順", sort: "product_name" %></li>
			<li role="presentation"><%= link_to "降順", sort: "product_name desc" %></li>
		</ul>
	</div>
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			評価
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "高い順", sort: "average_star desc" %></li>
			<li role="presentation"><%= link_to "低い順", sort: "average_star" %></li>
		</ul>
	</div>

	<% if user_signed_in? %>
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			レビュー数
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "多い順", sort: "count(reviews.id) DESC" %></li>
			<li role="presentation"><%= link_to "少ない順", sort: "count(reviews.id)" %></li>
		</ul>
	</div>
	<div class="btn-group sort-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			お気に入り数
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><%= link_to "多い順", sort: "count(favorites.id) DESC" %></li>
			<li role="presentation"><%= link_to "少ない順", sort: "count(favorites.id)" %></li>
		</ul>
	</div>
	<% end %>

	<!-- 商品一覧 -->
	<div class="row">
		<% @products.each do |product| %>
		<div class="product-thumb">
			<%= link_to product_path(product.id) do %>
			<div class="text-center">
				<label><%= attachment_image_tag product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %></label><br>
				<label class="text-center"><%= product.product_name %></label><br>
				<!-- レビュー平均値 -->
				<div class="rated index-ave" data-score="<%= product.average_star %>"></div>
			</div>
			<% end %> <!--<%#= link_to product_path(product.id) do %> の閉じタグ -->

			<% if user_signed_in? %>
			<!-- いいね -->
			<div id="favorites_buttons_<%= product.id %>">
				<%= render partial: 'products/favorite', locals: { product: product, favorites: @favorites} %>
			</div>
			<!-- レビュー -->
			<div>
				<% if product.reviewed_by?(current_user) %>
				<div class="review-icon">
				<i class="fas fa-file-alt" style="color: #62bb22;"></i>
				<%= product.reviews.count %>
			</div>
				<% else %>
				<div class="review-icon">
				<i class="far fa-file-alt"></i>
				<%= product.reviews.count %>
			</div>
				<% end %>
			</div>
			<% end %>
		</div>
		<% end %><!-- <%# @products.each do |product| %>の閉じタグ -->
	</div>
	<div class="paginate">
		<%= paginate @products%>
	</div>
</div>

<script>
	$('.rated').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
