<div class="container index-container">
	<div class="row">
		<div class="text-center">
			<h1>ようこそ　レモンサワーが飲みたい　へ！！</h1>
			<h2>ここでは美味しいレモンサワーを紹介していきます</h2>
		</div>

		<!-- 管理者ボタン -->
		<% if current_user.try(:admin?) %>
		<div class="admin-btn col-xs-6 col-xs-offset-3">
			<%= link_to "管理画面はこちら", "/admin", class: "btn btn-warning btn-block" %>
		</div>
		<% end %>
	</div>

	<!-- ソート機能 -->
	<%= link_to "商品名昇順", sort: "product_name" %><br>
	<%= link_to "商品名降順", sort: "product_name desc" %><br>
	<%#= link_to "評価昇順", sort: "review_star" %>

	<div class="row">
		<% @products.each do |p| %>
		<div class="product-thumb">
			<%= link_to product_path(p.id) do %>
			<div class="text-center">
				<label><%= attachment_image_tag p, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %></label><br>
				<label></label>
				<label class="text-center"><%= p.product_name %></label><br>

				<!-- レビュー平均値 -->
				<%# result =  %>
				<%# result = map_box[p.id] %>
				<div class="rated index-ave" data-score="<%= p.average_reviews(p) %>"></div>


				<% if user_signed_in? %>
				<!-- レビュー -->
				<span>
					<% if p.reviewed_by?(current_user) %>
					<i class="fas fa-file-alt" style="color: orange;"></i>
					<%= p.reviews.count %>
					<% else %>
					<i class="far fa-file-alt"></i>
					<%= p.reviews.count %>
					<% end %>
				</span>

				<!-- いいね -->
				<span>
					<% if p.favorited_by?(current_user) %>
					<%#= link_to product_favorite_path(p,p.favorites), method: :delete do %>
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= p.favorites.count %>
					<%# end %>
					<% else %>
					<%#= link_to product_favorites_path(p), method: :post do %>
					<i class="far fa-heart" aria-hidden="true"></i>
					<%= p.favorites.count %>
					<%# end %>
					<% end %>

					<% end %>
				</span>

			</div>
			<% end %>
		</div>
		<% end %>
	</div>
	<div class="paginate">
		<%= paginate @products%>
	</div>
</div>

<script>
	$('.rated').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
