<div class="container top-space">
	<div class="row">
		<div class="col-xs-4">
			<% if @review.errors.any? %>
			<div id="new-review">
				<h3 class="review-post-header" align="center">新規レビュー投稿</h3>
				<%= form_for [@product,@review] do |review| %>

				<% if @review.errors.any? %>
				<div class="alert alert-danger" role="alert">
					<strong>入力内容にエラーがあります</strong>
					<ul>
						<% @review.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<% end %><!-- <%# if @review.errors.any? %>の閉じタグ -->
				<label><%= review.label :review_star %></label>
				<%= review.hidden_field :review_star, id: :rating %>
				<div id='star-rating'></div><br>
				<label><%= review.label :opinion %></label>
				<%= review.text_area :opinion, :size => "43x10" %><br>
				<div class="review-btn">
					<button type="submit" class="btn btn-info">
						<i class="fas fa-plus"></i> 投稿
					</button>
				</div>
				<% end %><!-- form_forの閉じタグ -->
			</div>

			<table  class="table product-info">
				<tr align="center">
					<td style="border:none;" colspan="2">

						<% if @product.product_image.present? %>
						<%= link_to(image_tag(attachment_url(@product, :product_image, :fill, 250, 250, format: 'jpg')), attachment_url(@product, :product_image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "product-set" }) %>
						<% else %>
						<%= image_tag 'no_image.jpg', size: '250x250' %>
						<% end %>

						<!-- いいね -->
						<% if user_signed_in? %>
						<div id="favorites_buttons_<%= @product.id %>">
							<%= render partial: 'products/favorite', locals: { product: @product, favorites: @favorites} %>
						</div>
						<% end %>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<!-- レビュー平均値 -->
						<div class="rated" data-score="<%= @product.average_star %>"></div>
						<% if @product.average_star.present? %>
						<%= @product.average_star.round(1) %> / 5.0
						<% end %>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<%= link_to "お気に入りに登録しているユーザー", product_users_path(@product.id) %>
					</td>
				</tr>
				<tr>
					<td>商品名</td>
					<td><%= @product.product_name %></td>
				</tr>
				<tr>
					<td>メーカー</td>
					<td><%= @product.maker %></td>
				</tr>
				<tr>
					<td>アルコール度数</td>
					<td><%= @product.degree %></td>
				</tr>
				<tr>
					<td>栄養成分表示</td>
					<td><%= @product.nutrition %></td>
				</tr>
			</table>
			<% else %> <!-- <%# if @review.errors.any? %> -->
			<table  class="table product-info">
				<tr align="center">
					<td style="border:none;" colspan="2">

						<% if @product.product_image.present? %>
						<%= link_to(image_tag(attachment_url(@product, :product_image, :fill, 250, 250, format: 'jpg')), attachment_url(@product, :product_image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "product-set" }) %>
						<% else %>
						<%= image_tag 'no_image.jpg', size: '250x250' %>
						<% end %>

						<!-- いいね -->
						<div id="favorites_buttons_<%= @product.id %>">
							<%= render partial: 'products/favorite', locals: { product: @product, favorites: @favorites} %>
						</div>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<!-- レビュー平均値 -->
						<div class="rated" data-score="<%= @product.average_star %>"></div>
						<% if @product.average_star.present? %>
						<%= @product.average_star.round(1) %> / 5.0
						<% end %>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<%= link_to "お気に入りに登録しているユーザー", product_users_path(@product.id) %>
					</td>
				</tr>
				<tr>
					<td>商品名</td>
					<td><%= @product.product_name %></td>
				</tr>
				<tr>
					<td>メーカー</td>
					<td><%= @product.maker %></td>
				</tr>
				<tr>
					<td>アルコール度数</td>
					<td><%= @product.degree %></td>
				</tr>
				<tr>
					<td>栄養成分表示</td>
					<td><%= @product.nutrition %></td>
				</tr>
			</table>

			<% if user_signed_in? %>
			<div id="new-review">
				<h3 class="review-post-header" align="center">新規レビュー投稿</h3>
				<%= form_for [@product,@review] do |review| %>

				<label><%= review.label :review_star %></label>
				<%= review.hidden_field :review_star, id: :rating %>
				<div id='star-rating'></div><br>

				<label><%= review.label :opinion %></label>
				<%= review.text_area :opinion, :size => "43x10" %><br>
				<div class="review-btn">
					<button type="submit" class="btn btn-info">
						<i class="fas fa-plus"></i> 投稿
					</button>
				</div>
				<% end %>
			</div>
			<% end %>
			<% end %> <!-- <%# if @review.errors.any? %> -->
		</div>

		<div class="col-xs-7 col-xs-offset-1">
			<!-- ページ内リンク -->
			<% if user_signed_in? %>
			<%= link_to("レビューを書く", "#new-review", class: "btn btn-warning btn-lg") %>
			<% end %>
			<div class="row">
				<% if @reviews.empty? %>
				<div class="p-noreview">
					<h3>レビューはまだありません</h3>
					<p>この商品のレビューを投稿するとここに表示されます</p>
				</div>
				<% else %>
				<h3 class="p-review-counter">レビュー全 <%= @reviews.total_count %> 件</h3>
				<!-- ソート機能 -->
				<div class="review-sort-btn">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							評価順
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><%= link_to "評価高い順", sort: "review_star desc" %></li>
							<li role="presentation"><%= link_to "評価低い順", sort: "review_star" %></li>
						</ul>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							投稿順
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><%= link_to "新着順", sort: "updated_at desc" %></li>
							<li role="presentation"><%= link_to "投稿順", sort: "updated_at" %></li>
						</ul>
					</div>
				</div>
				<% @reviews.each do |review| %>
				<div class="col-xs-12 review-box">
					<!-- Newアイコン -->
					<% if review.is_new %>
					<p  class="new-review"><%= image_tag 'newlogo.gif', :size =>'40x15' %></p>
					<% elsif review.is_both %>
					<p  class="new-review"><%= image_tag 'newlogo.gif', :size =>'40x15' %></p>
					<p  class="update-review"><%= image_tag 'updatelogo.gif', :size =>'60x15' %></p>
					<% elsif review.is_update %>
					<p  class="update-review"><%= image_tag 'updatelogo.gif', :size =>'60x15' %></p>
					<% end %>

					<%= link_to user_path(review.user.id) do %>
					<%= attachment_image_tag review.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "75x75" %>
					<%= review.user.name %>
					<% end %><br>
					<div class="rated" data-score="<%= review.review_star %>"></div>
					<div class="p-date">
						<% if review.created_at == review.updated_at %>
						<label>投稿日：</label><%= review.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% else %>
						<label>更新日：</label><%= review.updated_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<label>投稿日：</label><%= review.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% end %>
					</div>
					<pre><%= review.opinion %></pre><br>
				</div>
				<% end %>
				<% end %>
				<div class="paginate">
					<%= paginate @reviews %>
				</div>
			</div>
		</div>
	</div>
	<div class="p-index-button">
		<%= link_to "一覧へ戻る", products_path, class: "btn btn-default" %>
	</div>
</div>

<script>
	$('#star-rating').raty({
		path: '/assets/',
		click: function(score, e) {
			$("#rating").val(score)
		}
	});

	$('.rated').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>