<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<table  class="table">
				<tr align="center">
					<td colspan="2"><%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						ここに平均値を入れたいです
					</td>
				</tr>
				<tr>
					<td>商品名</td>
					<td><%= @product.product_name %></td>
				</tr>
				<tr>
					<td>メーカー</td>
					<td><%= @product.maker %></td>
				</tr>
				<tr>
					<td>アルコール度数</td>
					<td><%= @product.degree %></td>
				</tr>
				<tr>
					<td>栄養成分表示</td>
					<td><%= @product.nutrition %></td>
				</tr>
			</table>

			<h3 align="center">レビュー投稿</h3>
			<%= form_for [@product,@review] do |review| %>
			<label>評価</label>
			<%= review.hidden_field :review_star, id: :rating %>
			<div id='star-rating'></div><br>

			<label>レビュー内容</label>
			<%= review.text_area :opinion, :size => "50x10" %><br>
			<%= review.submit "投稿する" %>
			<% end %>
		</div>

		<div class="col-xs-7 col-xs-offset-1">

			<div class="row">
				<h3>レビュー <%= @reviews.total_count %> 件</h3>
				<% @reviews.each do |reviews| %>

				<div class="col-xs-12">
					<%= link_to user_path(reviews.user.id) do %>
					<%= attachment_image_tag reviews.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "75x75" %>
					<%= reviews.user.name %>
					<% end %><br>

					<% if reviews.review_star != nil %>
					<% reviews.review_star.times do |star| %>
					<%= image_tag('star-on.png', size: '20x20') %>
					<% end %>

					<% star_count = 5 - reviews.review_star %>

					<% if star_count > -1 %>
					<% star_count.times do |star| %>
					<%= image_tag('star-off.png', size: '20x20') %>
					<% end %>
					<% end %>

					<% else %>
					<span>まだ、レビューはありません</span>
					<% end %>


					<div style="text-align: right;"><%= reviews.created_at %></div>
					<pre><%= reviews.opinion %></pre><br>
				</div>
				<% end %>
				<%= paginate @reviews %>

			</div>

		</div>

	</div>
	<%= link_to "一覧へ戻る", products_path, class: "btn btn-default" %>
</div>

<script>
	$('#star-rating').raty({
		path: '/assets/',
		click: function(score, e) {
			$("#rating").val(score)
		}
	});
</script>