<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<table  class="table">
				<tr align="center">
					<td colspan="2"><%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %>
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						ここに平均値を入れたいです
					</td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<% if @product.favorited_by?(current_user) %>

						<%= link_to product_favorite_path(@product), method: :delete do %>
						<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						<%= @product.favorites.count %> お気に入り
						<% end %>

						<% else %>

						<%= link_to product_favorites_path(@product), method: :post do %>
						<i class="far fa-heart" aria-hidden="true"></i>
						<%= @product.favorites.count %> お気に入り
						<% end %>

						<% end %>
					</td>
				</tr>
				<tr>
					<td>商品名</td>
					<td><%= @product.product_name %></td>
				</tr>
				<tr>
					<td>メーカー</td>
					<td><%= @product.maker %></td>
				</tr>
				<tr>
					<td>アルコール度数</td>
					<td><%= @product.degree %></td>
				</tr>
				<tr>
					<td>栄養成分表示</td>
					<td><%= @product.nutrition %></td>
				</tr>
			</table>

			<h3 align="center">レビュー投稿</h3>
			<%= form_for [@product,@review] do |review| %>
			<label>評価</label>
			<%= review.hidden_field :review_star, id: :rating %>
			<div id='star-rating'></div><br>

			<label>レビュー内容</label>
			<%= review.text_area :opinion, :size => "50x10" %><br>
			<%= review.submit "投稿する" %>
			<% end %>
		</div>

		<div class="col-xs-7 col-xs-offset-1">

			<div class="row">
				<% if @reviews.empty? %>
				<div class="p-noreview">
					<h3>レビューはまだありません</h3>
					<p>この商品のレビューを投稿するとここに表示されます</p>
				</div>
				<% else %>
				<h3 class="p-review-counter">レビュー全 <%= @reviews.total_count %> 件</h3><br>
				<% @reviews.each do |review| %>

				<div class="col-xs-12">

					<!-- Newアイコン -->
					<% if review.is_new %>
					<p  class="new-review"><%= image_tag 'newlogo.gif', :size =>'40x15' %></p>
					<% elsif review.is_both %>
					<p  class="new-review"><%= image_tag 'newlogo.gif', :size =>'40x15' %></p>
					<p  class="update-review"><%= image_tag 'updatelogo.gif', :size =>'60x15' %></p>
					<% elsif review.is_update %>
					<p  class="update-review"><%= image_tag 'updatelogo.gif', :size =>'60x15' %></p>
					<% end %>

					<%= link_to user_path(review.user.id) do %>
					<%= attachment_image_tag review.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "75x75" %>
					<%= review.user.name %>
					<% end %><br>

					<div class="rated" data-score="<%= review.review_star %>"></div>

					<div class="p-date">
						<% if review.created_at == review.updated_at %>
						<label>投稿日：</label><%= review.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% else %>
						<label>更新日：</label><%= review.updated_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<label>投稿日：</label><%= review.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
						<% end %>
					</div>
					<pre><%= review.opinion %></pre><br>
				</div>
				<% end %>
				<% end %>
				<div class="paginate">
					<%= paginate @reviews %>
				</div>

			</div>

		</div>

	</div>
	<div class="p-index-button">
		<%= link_to "一覧へ戻る", products_path, class: "btn btn-default" %>
	</div>
</div>

<script>
	$('#star-rating').raty({
		path: '/assets/',
		click: function(score, e) {
			$("#rating").val(score)
		}
	});

	$('.rated').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>