
<table>
	<tr>
		<tb></tb>
		<tb><%= @product.product_image_id %></tb>
	</tr>
	<tr>
		<tb></tb>
		<tb><%= @product.product_name %></tb>
	</tr>
	<tr>
		<tb>メーカー</tb>
		<tb><%= @product.maker %></tb>
	</tr>
	<tr>
		<tb>アルコール度数</tb>
		<tb><%= @product.degree %></tb>
	</tr>
	<tr>
		<tb>栄養成分表示</tb>
		<tb><%= @product.nutrition %></tb>
	</tr>
</table>