<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<table  class="table product-info">
				<tr align="center">
					<td colspan="2"><%= attachment_image_tag @review.product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %>
					</td>
				</tr>
				<tr>
					<td>商品名</td>
					<td><%= @review.product.product_name %></td>
				</tr>
				<tr>
					<td>メーカー</td>
					<td><%= @review.product.maker %></td>
				</tr>
				<tr>
					<td>アルコール度数</td>
					<td><%= @review.product.degree %></td>
				</tr>
				<tr>
					<td>栄養成分表示</td>
					<td><%= @review.product.nutrition %></td>
				</tr>
			</table>

			<h3 align="center">レビュー編集</h3>
			<%= form_for @review, :url => { :controller => :reviews, :action => :update } do |review| %>
			<label>評価</label>
			<%= review.hidden_field :review_star, id: :rating %>
			<div id="star-rating" data-score="<%= @review.review_star %>"></div><br>

			<label>レビュー内容</label>
			<%= review.text_area :opinion, :size => "50x10" %><br>
			<div class="review-update-btn">
				<button type="submit" class="btn btn-info">
					<i class="fas fa-check"></i> 保存
				</button>
			</div>
			<% end %>
		</div>

	</div>
	<div class="r-index-button">
		<%= link_to "詳細へ戻る", product_path(@review.product.id), class: "btn btn-default" %>
	</div>
</div>

<script>
	$('#star-rating').raty({
		path: '/assets/',
		click: function(score, e) {
			$("#rating").val(score)
		}
	});
</script>